@use "../style/mixin/card";
@use "../style/mixin/button";
@use "../style/mixin/banniere";
@use "../style/mixin/hero-title";

$color-title: #280aeb;

body {
  overflow-x: hidden;
  font-family: "Chakra Petch", sans-serif;
}

.card {
  @include card.carte;

  .card-header {
    border: none;
  }
}

.btn {
  @include button.bouton;

  &:hover {
    background-color: #9b91e1;
  }
}

h2,
h3,
h5 {
  color: $color-title;
}

// --- DÉBUT Accueil ---
.alert {
  margin-bottom: 0 !important;
  @include banniere.alert;

  .btn-close {
    top: 0.3rem !important;
  }
}

nav {
  background-color: #b3cee0;

  .navbar-toggler {
    border: none;
  }
}

li {
  a {
    color: $color-title !important;

    &::after {
      content: "";
      display: block;
      margin: auto;
      height: 3px;
      width: 0;
      top: 5px;
      background: transparent;
      transition: all 0.3s;
    }

    &:hover::after,
    &.active-nav::after {
      width: 100%;
      background: #280aeb;
    }
  }

  button {
    margin-top: -20%;
  }
}

@media screen and (min-width: 992px) {
  .navbar-collapse {
    display: flex;
    justify-content: end;
  }
}

@media screen and (max-width: 992px) {
  li {
    button {
      margin-top: 0;
    }
  }
}

.hero {
  .card {
    background-color: #cdccd8;

    h5 {
      color: #16077a;
      line-height: 1.5;
    }

    img {
      width: 100%;
      height: auto;
      object-fit: cover;
      aspect-ratio: 4/3;
    }
  }

  .swiper-pagination-bullet {
    width: 8px;
    height: 8px;
    border-radius: 10px;

    &-active {
      width: 30px;
      background: #7260e6;
    }
  }
}

@media screen and (min-width: 375px) {
  .hero {
    .card {
      .card-body {
        height: 68vh;
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        align-items: baseline;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .hero {
    .card {
      .card-body {
        height: 35vh;
      }
    }
  }
}

#section-services {
  .card {
    background-color: #a5c6dc;
    box-shadow: none;
    height: 50vh;
    margin: 10px;
    padding-top: 10px;

    .logo-service {
      margin-left: 10px;
    }

    .card-title {
      color: $color-title;
    }

    button {
      margin: 20px;
    }
  }
}

@media screen and (max-width: 389px) {
  #section-services {
    .card {
      height: 60vh;
    }
  }
}

#section-news {
  background-color: #cdccd8;

  .swiper-slide {
    display: flex;
    justify-content: center;

    .card {
      background-color: #b3cee0;
      max-width: 500px;
      height: 100%;

      img {
        width: 100%;
        height: 312px;
        object-fit: cover;
      }

      .card-header {
        padding-left: 0 !important;
        padding-right: 0 !important;
      }

      button {
        margin: 20px;
      }
    }
  }

  .swiper-button-prev,
  .swiper-button-next {
    width: 8vh;
    height: 8vh;
    background-color: #968ce0;
    border-radius: 50%;

    &::after,
    &::after {
      color: #fff;
    }
  }
}

#section-testimonial {
  .card {
    background-color: #a5c6dc;

    img {
      border-radius: 50%;
    }
  }
}

#section-don {
  background-image: url(../sources/medias/accueil/image_don.png);
  background-position: 50% 50%;

  .card {
    background-color: rgba(178, 175, 213, 0.8);
  }

  .contenu {
    position: relative;
    overflow: hidden;
  }
}

footer {
  color: $color-title;

  .footer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, auto);
    justify-items: center;
    gap: 40px;
    background-color: #b3cee0;
  }

  .no2 {
    a {
      color: $color-title !important;
      text-decoration: none;

      &::after {
        content: "";
        display: block;
        margin: auto;
        height: 3px;
        width: 0;
        top: 5px;
        background: transparent;
        transition: all 0.3s;
      }

      &:hover::after,
      &.active-nav::after {
        width: 100%;
        background: #280aeb;
      }
    }
  }

  .no5 {
    a {
      text-decoration: none;
    }
  }
}

@media screen and (min-width: 1200px) {
  footer {
    .footer {
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(3, auto);
      justify-items: center;
      align-items: center;
    }

    .no1 {
      grid-area: 1 / 1 / 4 / 2;
    }
  }
}
// --- FIN Accueil ---

// --- DÉBUT Hub de nouvelles ---
#section-nouvelles {
  .card {
    background-color: #b3cee0;
    height: 100%;

    img {
      width: 100%;
      height: 312px;
      object-fit: cover;
    }

    .card-header {
      padding-left: 0 !important;
      padding-right: 0 !important;
      background-color: none !important;
    }

    button {
      margin: 20px;
    }
  }
}

#hero_nouvelles {
  position: relative;
  width: 100vw;
  height: 100vh;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .titre_nouvelles {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    height: 50%;
    background-color: #b2afd5d3;

    .titre {
      color: #000;
      font-size: 60px;
    }

    .desc {
      color: #16077a;
      font-size: 30px;
    }
  }
}

@media screen and (max-width: 500px) {
  #hero_nouvelles {
    .titre_nouvelles {
      width: 80%;
      height: 60%;
    }
  }
}
// --- FIN Hub de nouvelles ---

// --- DÉBUT FAQ ---
.accordion-button.collapsed::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%231a3836'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.accordion-button:not(.collapsed)::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%231a3836'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

#section-faq {
  h2 {
    text-align: center;
    font-weight: bold;
  }
}
// --- FIN FAQ ---

// --- DÉBUT À propos ---
#section-equipe .card {
  background-color: #b3cee0;
  margin-bottom: 28px;

  img {
    margin-left: 42px;
    margin-top: 60px;
    width: 80%;
  }

  h6 {
    font-weight: bold;
    color: #16077a;
  }
}

#hero_about {
  position: relative;
  width: 100vw;
  height: 100vh;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .titre_about {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    height: 50%;
    background-color: #b2afd5d3;

    .titre {
      color: #000;
      font-size: 60px;
    }

    .desc {
      color: #16077a;
      font-size: 30px;
    }
  }
}

@media screen and (max-width: 500px) {
  #hero_about {
    .titre_about {
      width: 80%;
      height: 60%;
    }
  }
}

#section-propos {
  overflow-x: hidden;

  .text-raison .card {
    background-color: #cdccd8;
  }

  .text-raison {
    background-color: #cdccd8;
  }

  .text-mission .card {
    background-color: #cdccd8;
  }

  .text-mission {
    background-color: #cdccd8;
  }

  .text-valeur .card {
    background-color: #cdccd8;
  }

  .text-valeur {
    background-color: #cdccd8;
  }

  .text-approche .card {
    background-color: #cdccd8;
  }

  .text-approche {
    background-color: #cdccd8;
  }

  .text-intervention .card {
    background-color: #cdccd8;
  }

  .text-intervention {
    background-color: #cdccd8;
  }

  .text-first .card {
    background-color: #cdccd8;
  }

  .text-first {
    background-color: #cdccd8;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    max-width: 400px;
  }

  h4 {
    padding-top: 10px;
    color: #280aeb;
  }

  h2 {
    padding-top: 25px;
  }
}
// --- FIN À Propos ---

// --- DÉBUT Hub de services ---
#hero_services {
  position: relative;
  width: 100vw;
  height: 100vh;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .titre_services {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    height: 50%;
    background-color: #b2afd5d3;

    .titre {
      color: #000;
      font-size: 60px;
    }

    .desc {
      color: #16077a;
      font-size: 30px;
    }
  }
}

@media screen and (max-width: 500px) {
  #hero_services {
    .titre_services {
      width: 80%;
      height: 60%;
    }
  }
}

#services {
  .card {
    padding: none;
    background-color: #b3cee0;

    .card-title {
      color: #280aeb;
    }

    .logo-service {
      position: absolute;
      z-index: 1;
    }

    .img-fluid {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    button {
      width: 100%;
    }
  }
}

// --- FIN Hub de services ---

// --- DÉBUT Détail de service ---

#hero_service_detail {
  position: relative;
  width: 100vw;
  height: 100vh;

  .img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .titre_service_detail {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    height: 50%;
    background-color: #b2afd5d3;

    .service_logo {
      width: 100px;
      object-fit: contain;
    }

    .titre {
      color: #000;
      font-size: 60px;
    }
  }
}

@media screen and (max-width: 600px) {
  #hero_service_detail {
    .titre_service_detail {
      .titre {
        font-size: 35px;
      }
    }
  }
}

#texte {
  h2 {
    color: #16077a;
  }
}

#service_defi,
#service_intervention,
#service_affiliation,
#service_partenaires {
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    max-width: 400px;
  }
}

#service_defi {
  background-color: #cdccd8;

  .card {
    background-color: #cdccd8;
  }
}

#service_affiliation {
  background-color: #cdccd8;

  .card {
    background-color: #cdccd8;

    img {
      max-width: 250px;
      max-height: 250px;
    }

    a {
      color: $color-title !important;
      text-decoration: none;
    }
  }
}

#service_partenaires {
  .partenaires {
    display: grid;
    grid-template-columns: repeat(3, 21vh);
    gap: 20px;
    justify-content: center;
  }
}

@media screen and (max-width: 768px) {
  #service_partenaires {
    .partenaires {
      grid-template-columns: 45vh;
      grid-template-rows: repeat(3, 15vh);

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }
}

@media screen and (min-width: 1200px) {
  #service_partenaires {
    .partenaires {
      gap: 75px;
    }
  }
}

// --- FIN Détail de service ---

// --- DÉBUT Détail de nouvelle ---

#hero_nouvelle_detail {
  position: relative;
  width: 100vw;
  height: 100vh;

  .img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .titre_nouvelle_detail {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    height: 50%;
    background-color: #b2afd5d3;

    .titre {
      color: #000;
      font-size: 60px;
    }
  }
}

@media screen and (max-width: 600px) {
  #hero_nouvelle_detail {
    .titre_nouvelle_detail {
      .titre {
        font-size: 35px;
      }
    }
  }
}

#texte {
  h2 {
    color: #16077a;
  }
}

#nouvelle_part01,
#nouvelle_part02 {
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    max-width: 400px;
  }
}

// --- FIN Détail de nouvelle ---

// --- DÉBUT Histoire ---

#hero_histoire {
  position: relative;
  width: 100vw;
  height: 100vh;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .titre_histoire {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    height: 50%;
    background-color: #b2afd5d3;

    .titre {
      color: #000;
      font-size: 60px;
    }
  }
}

@media screen and (max-width: 500px) {
  #hero_histoire {
    .titre_histoire {
      width: 80%;
      height: 60%;
    }
  }
}

.timeline-section {
  min-height: 100vh;
  padding: 100px 15px;

  .timeline-items {
    position: relative;
    max-width: 1000px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;

    .timeline-item {
      position: relative;
      margin-bottom: 40px;
      width: 100%;

      .timeline-dot {
        position: absolute;
        left: calc(50% - 8px);
        top: 10px;
        width: 16px;
        height: 16px;
        border-radius: 50%;
        background-color: #280aeb;
      }

      .timeline-date {
        font-size: 16px;
        color: #280aeb;
        margin: 6px 0 15px;
      }
    }
  }
}

.timeline-content {
  padding: 30px;
  border-radius: 5px;

  h3 {
    font-size: 20px;
    margin: 0 0 10px;
    text-transform: capitalize;
    font-weight: 500;
  }

  p {
    font-size: 16px;
    font-weight: 300;
    line-height: 22px;
  }
}

.timeline-items::before {
  content: "";
  position: absolute;
  width: 2px;
  height: 100%;
  background-color: #b2afd5a2;
  left: calc(50% - 1px);
}

.progress{
  content: "";
  position: absolute;
  width: 2px;
  height: 0%;
  background-color: #280aeb;
  left: calc(50% - 1px);
}


.timeline-item:nth-child(odd) {
  padding-right: calc(50% + 30px);
  text-align: right;
}

.timeline-item:nth-child(even) {
  padding-left: calc(50% + 30px);
}

.timeline-item:last-child {
  margin-bottom: 0;
}

@media screen and (max-width: 767px) {
  .timeline-section {
    .timeline-items {
      .timeline-item {
        .timeline-dot {
          left: 0;
        }
      }
    }
  }

  .timeline-items::before {
    left: 7px;
  }

  .progress {
    left: 7px;
  }

  .timeline-item:nth-child(odd) {
    padding-right: 0;
    padding-left: 37px;
    text-align: left;
  }

  .timeline-item:nth-child(even) {
    padding-left: 37px;
  }
}
// --- FIN Histoire ---

// --- DÉBUT Erreur 404 ---
.loader {
  position: relative;
  width: 100vw;
  height: 100vh;

  .loader-clip {
    position: absolute;
    width: 100vw;
    height: 33.3vh;
    overflow: clip;
    z-index: 10000;
  }

  .clip-top {
    top: 0;
    clip-path: inset(0 0 0 0);
    background: #7260e6;
  }

  .clip-bottom {
    bottom: 0;
    clip-path: inset(0 0 0 0);
    background: #7260e6;
  }

  .clip-center {
    overflow: hidden;
    position: relative;
    width: 100vw;
    height: 33.3vh;
    top: 33.3vh;

    .marquee {
      color: #280aeb;
    }
  }
}

.marquee {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 200vw;
  color: #fff;
  font-size: 10.5vw;

  .marquee-container {
    width: 100%;
    padding-top: 0.2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
// --- FIN Erreur 404 ---

/*# sourceMappingURL=style.css.map */
